 .contenedor-tabla {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    table {
        border-collapse: collapse;
        width: 40%;
        font-family: Arial, sans-serif;
    }

    th {
        background-color: aqua;
        padding: 10px;
        border: 1px solid #000;
        text-align: center;
    }

    td {
        padding: 15px;
        border: 1px solid #000;
    }

    img {
        border-radius: 8px;
        width: 150px;
    }

    p{
        color: white;
        background-color: blue;
        width: 30%;
        font-weight: bold;
  
    }
    .pare{
   display: flex;
        justify-content: center;
    }

        .centre {
        display: flex;
        flex-direction: column; 
        align-items: center;   
        text-align: center;    
        margin-top: 20px;
    }

    form label {
        font-weight: bold;
    }

.enviar{
    background-color: orange;
    margin-top: 15px;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    border: 1px solid black;
}

.galeria{
text-align: center;
}

.baixarinputs{
    padding-top: 15px;
    margin-top: 7px;
}